body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(135deg, #1e1e1e, #2a2a2a);
    text-align: center;
    color: white;
}

header {
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    margin-top: 5px;
    font-size: 1.2em;
}

main {
    padding: 40px 10px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.experiment-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.experiment-card {
    background: rgba(255, 255, 255, 0.1);
    width: 300px;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    cursor: pointer;
    text-align: left;
    backdrop-filter: blur(10px);
}

.experiment-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(255, 255, 255, 0.2);
}

.experiment-image {
    width: 100%;
    height: 180px;
    background-image: url('/static/1.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    margin-bottom: 15px;
}

.experiment-info h2 {
    font-size: 1.5em;
    margin: 0;
    color: white;
}

.experiment-info p {
    font-size: 1em;
    color: #ccc;
}

@media (max-width: 768px) {
    .experiment-card {
        width: 90%;
    }
}
